$color-brand: #7acfa6;
@import '~taro-ui/dist/style/components/input.scss';
// @import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/button.scss';
@import '~taro-ui/dist/style/components/loading.scss';
@import '~taro-ui/dist/style/components/modal.scss';

.picker-wrapper {
  position: relative;
  padding: 24rpx 0;
  margin-left: 32rpx;
  margin-bottom: 1px;
  display: flex;
  .title {
    margin-right: 16rpx;
    width: 172rpx;
    font-size: 32rpx;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
  }
  .text {
    font-size: 32rpx;
    height: 44.8rpx;
    line-height: 1.5;
    flex: 1;
  }
  &:after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    border: 0 solid #d6e4ef;
    transform: scale(0.5);
    border-bottom-width: 1px;
  }
}

.confirm-btn {
  position: absolute;
  font-size: 13pt;
  line-height: 85rpx;
  height: 85rpx;
  width: 94%;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  margin: 0 3%;
  bottom: 250rpx;
  &:active {
    opacity: 0.8;
  }
}
